/* Fan pages */
div[data-testid="chat_sidebar"] > div:first-child {
	display: none;
}

/* chat sidebar section headers, 「聯絡人」、「群組」 etc */
div[data-testid="chat_sidebar"] > div > div._55ob {
	display: none;
}

.uiContextualLayerBelowLeft[role="dialog"] {
	display: none;
}
